<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.DeliveryMacanaConnectionStringCloud"
            connectionString="Data Source=200.50.168.215;Initial Catalog=DeliveryMacana;Persist Security Info=True;User ID=MacanaSoftware;Password=MacanaPassSoftware"
            providerName="System.Data.SqlClient" />
        <add name="Database.Properties.Settings.DeliveryMacanaConnectionStringLocalVBox"
            connectionString="Data Source=HOST-PC\SQLEXPRESS;Initial Catalog=DeliveryMacana;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Database.Properties.Settings.DeliveryMacanaConnectionString"
            connectionString="Data Source=DESKTOP-TTT0KCD\SQLEXPRESS;Initial Catalog=DeliveryMacana;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>